.list-grpuo-custom{
    width: 100%;
    max-height: 600px;
    overflow: scroll;
}
.custom-icon-edit{
     font-size: 15px;
     color:blue;
    margin-right: 5px;
 }
.custom-icon-trash{
    font-size: 15px;
    color:#dc3545;
    margin-right: 5px;
}
.taskDeleted{
    color:#dc3545
}
.taskCompleted{
    color:#28a745
}
.taskUnCompleted{
    color:#ffc107
}
.text-center-in-div{
    text-align: center;
}
.font-size-task{
    font-size: 20px;
    font-weight: bold;
}