
<div class="row">
    <div class="col-md-3">
        completed : <b>{{completed}}</b>
    </div>
    <div class="col-md-3">
        uncompleted : <b>{{uncompleted}}</b>
    </div>
    <div class="col-md-3">
        total : <b>{{total}}</b>
    </div>
    <div class="col-md-3">
        deleted : <b>{{deleted}}</b>
    </div>
</div>