
<div class="row">
    <div class="col-md-4 text-center-in-div taskUnCompleted">
        <span>לסיום:</span> <b>{{uncompleted}}</b>
    </div>
    <div class="col-md-4 text-center-in-div taskUnCompleted">
        <span>הושלמו:</span> <b>{{completed}}</b>
    </div>
    <div class="col-md-4 text-center-in-div taskUnCompleted">
        <span>סכ"ה:</span> <b>{{total}}</b>
    </div>
   <!-- <div class="col-md-3 taskDeleted">
        deleted : <b>{{deleted}}</b>
    </div>-->
</div>