
<div class="row">
    <div class="col-md-4 text-center-in-div taskCompleted">
        completed : <b>{{completed}}</b>
    </div>
    <div class="col-md-4 text-center-in-div taskUnCompleted">
        uncompleted : <b>{{uncompleted}}</b>
    </div>
    <div class="col-md-4 text-center-in-div">
        total : <b>{{total}}</b>
    </div>
   <!-- <div class="col-md-3 taskDeleted">
        deleted : <b>{{deleted}}</b>
    </div>-->
</div>